
body{
    font-family: "Open Sans", sans-serif;
}

p{
    font-style: italic;
    font-weight:bold;
    font-size: 30px;   /* em = pixels/16*/
    font-variant: small-caps;
}

h1{
    font: italic small-caps bold 12px/30px Georgia, serif;
}