* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

body{
    height: 2000px;
}
/* start nav css */
.nav{
    background-color: #333;
    padding: 30px 15px;
    line-height: 50%;
    position: sticky;
    top: 0;
    z-index: 5;
}

.nav .logo{
    float: left;
}

.nav .logo h3{
    color: #fff;
    font-size: 30px;
    font-weight: normal;
}

.nav .logo .logoName{
    color: orange;
}
.nav .logo h3::first-letter{
    padding: 0px 5px;
    background-color: #696969;
    border: 3px solid #fff;
    font-size: 30px;
}
.nav .item{
    float: right;
}

.nav .item ul{
    list-style-type: none;
}

.nav .item ul li{
    display: inline-block;
}

.nav .item ul li:not(:first-child){
    margin-left: 20px;
}

.nav .item ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 15px;
}

.nav .item ul li a:hover{
    background-color: orange;
}
/* end nav css */